<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--SAME INTEGRATOR_KEY FOR DEV AND PROD-->
    <add key="INTEGRATOR_KEY" value="862d7dce-c0a3-4c80-a18d-908ab56b2fb0" />
    <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--Chris DEV ACCOUNT INFO 
    <add key="accountId" value="1624111" />
    <add key="username" value="cgrenard@auamed.org" />
    <add key="password" value="peepers1" /> -->
    <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--clinicalevaluations's Acct/AUA Clinical Dept.  -->
    <add key="accountId" value="38154602" />
    <add key="username" value="clinicalevaluations@auamed.org" />
    <add key="password" value="Au@Doc$ign" />
    <!--
    Chris/PROD ACCOUNT INFO
    <add key="accountId" value="38154602" />
    <add key="username" value="cgrenard@auamed.org" />
    <add key="password" value="Au@Doc$ign" />-->
    <!--Zino's Acct/AUA Clinical Dept.   
    <add key="accountId" value="38154602" />
    <add key="username" value="egometi@auamed.org" />
    <add key="password" value="Au@Doc$ign" />-->
    <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--DEV Template IDs for All (5) Student Clerkship Forms
   
    <add key="StudentFacultyEvaluationForm_TemplateID" value="A11B904A-256D-4DC2-BE33-94D987BC1415" /> 
    <add key="MidClerkshipAssessmentForm_TemplateID" value="2A6A7122-78EB-4D3F-84D7-B47496CC2C32" />
    <add key="StudentPortfolio_TemplateID" value="C1A773F1-4165-412A-A269-E6F9644B7B90" />
    <add key="ComprehensiveStudentClerkshipAssessmentForm_TemplateID" value="50F9CAE6-BC7C-4C91-B0D6-8DEE53069328" />
    <add key="StudentClerkshipEvaluationForm_TemplateID" value="66C73939-3F67-4BB2-B727-27503FD7A27E" />
    <add key="StudentClerkshipEvaluationForm_DocumentID" value="1" /> -->
    <!--PRODUCTION Template IDs for All (5) Student Clerkship Forms -->
    <!--Form 1-->
    <add key="StudentClerkshipEvaluationForm_TemplateID" value="4293D2C3-4CD9-48B6-898A-56A2A16B907A" />
    <!--Form 2-->
    <add key="StudentFacultyEvaluationForm_TemplateID" value="5FC3D030-C7E6-466D-B37F-5345935CDCA1" />
    <!--Form 3-->
    <add key="MidClerkshipAssessmentForm_TemplateID" value="94ECBC82-92A6-4B5D-AC57-8A5108F44588" />
    <add key="MidClerkshipAssessmentForm_Editable_TemplateID" value="885AF4B6-19C2-4037-8110-2388BD1CD2A1" />
    <!--Form 4-->
    <add key="StudentPortfolio_TemplateID" value="c05b3650-0875-4727-bd1f-7b832f652982" />
    <add key="StudentPortfolio_Editable_TemplateID" value="833231bc-50c0-41ad-8533-45df72dc7e99" />
    <!--Form 5-->
    <!--<add key="ComprehensiveStudentClerkshipAssessmentForm_TemplateID" value="ce32610b-a642-40b2-a8ea-9a229f4b48a4" />
     <add key="ComprehensiveStudentClerkshipAssessmentForm_Editable_TemplateID" value="987878a8-8d3c-4e6f-b994-fde441e550b8" />
-->
    <add key="ComprehensiveStudentClerkshipAssessmentForm_TemplateID" value="424c70f3-ab62-4fb7-834c-474ae92b111e" />
    <add key="ComprehensiveStudentClerkshipAssessmentForm_Editable_TemplateID" value="2e23ed18-1a84-4386-b311-2a8008df80fb" />
    <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--Choose DEMO OR PRODUCTION API CALL-->
    <!--DEMO
    <add key="RestAPI_URL" value="https://demo.docusign.net/restapi" />
    -->
    <add key="RestAPI_URL" value="https://na2.docusign.net/restapi" />
    <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--DATABASE CONNECTION STRINGS-->
    <!--AUA PRODUCTION-->
    <add key="SMSDB_CONNSTRING" value="Data Source=GCLR-SMS;Initial Catalog=AUA;Integrated Security=SSPI" />
    <!--AUA DEVELOPMENT SERVER:[GCLR-SQLD]-->
    <add key="SMSDB_CONNSTRING2" value="Data Source=GCLR-SQLD;Initial Catalog=AUA;Integrated Security=SSPI" />
    <!--DOCUSIGN DEVELOPMENT SERVER:[GCLR-SQLD]-->
    <add key="DocuSign_DB_CONNSTRING" value="Data Source=GCLR-SQLD;Initial Catalog=DocuSign;Integrated Security=SSPI" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>